{% extends "record.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load search_extras %}
{% get_current_language as LANGUAGE_CODE %}

{% block main-content-title %}
<h1 property="name" id="wb-cont">{% translate 'Government Administrative Aircraft Use: Ref. No. ' %} {{ doc.reference_number}}}</h1>
{% endblock main-content-title %}

{% block main-content-centre %}
<div class="col-md-12">
    {% block main-content-search-items %}
    {% for doc in docs %}

        {% if doc.question_eng != '-' and doc.question_fra != '-' %}
            <h2>{% trans 'Issue/Question: ' %}</h2>
            <div>
                {% if language == 'fr' %}{{ doc.question_fra | markdown_filter | normalize_headings | safe }}
                {% else %}
                {{ doc.question_eng | markdown_filter | normalize_headings | safe}}{% endif %}
            </div>
        {% endif %}

        {% if doc.response_eng != '-' and doc.response_fra != '-' %}
            <h2>{% trans 'Suggested Response: ' %}</h2>
            <div>
                {% if language == 'fr' %}{{ doc.response_fra | markdown_filter | safe }}
                {% else %}
                {{ doc.response_eng | markdown_filter | safe}}{% endif %}
            </div>
        {% endif %}

        {% if doc.background_eng != '-' and doc.background_fra != '-' %}
            <h2>{% trans 'Background: ' %}</h2>
            <div>
                {% if language == 'fr' %}{{ doc.background_fra | markdown_filter | safe }}
                {% else %}
                {{ doc.background_eng | markdown_filter | safe}}{% endif %}
            </div>
        {% endif %}

        {% if doc.additional_information_eng != '-' and doc.additional_information_fra != '-' %}
            <h2>{% trans 'Additional Information: ' %}</h2>
            <div>
                {% if language == 'fr' %}{{ doc.background_fra | markdown_filter | safe }}
                {% else %}
                {{ doc.background_eng | markdown_filter | safe}}{% endif %}
            </div>
        {%  endif %}

    {% endfor %}
    {% endblock main-content-search-items %}
</div>
{% endblock main-content-centre %}

