{% load i18n %}

{% if doc.format == 'NTR' %}
<div class="row mrgn-bttm-lg">
    <div class="col-md-12"><em>{% trans 'Nothing to report this period' %}</em></div>
    <div class="col-md-4"><strong>{% translate 'Organization:' %}</strong></div><div class="col-md-8">{% if language == "fr" %} {{ doc.owner_org_fr }} {% else %} {{ doc.owner_org_en }} {% endif %}</div>
    <div class="col-md-4"><strong>{% trans 'Year: ' %}</strong></div><div class="col-md-8">{{ doc.year }}</div>
    <div class="col-md-4"><strong>{% trans 'Quarter : ' %}</strong></div><div class="col-md-8">{% if language == "fr" %} {{ doc.quarter_fr }} {% else %} {{ doc.quarter_en }} {% endif %}</div>
</div>
{% else %}
<div class="row mrgn-bttm-lg">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8"><a href="{{ path_info }}record/{{ doc.id }}"><strong>{% if language == 'en' %}{{ doc.pos_title_en | safe }}{% else %}{{ doc.pos_title_fr | safe }}{% endif %}</strong> <span class="glyphicon glyphicon-menu-right"></span></a></div>
            <div class="col-md-4 text-right"><strong>{{ doc.old_class_group_code }}-{{ doc.old_class_level }}</strong> {% translate 'to' %} <strong>{{ doc.new_class_group_code }}-{{ doc.new_class_level }}</strong></div>
        </div>
        <div class="row">
            <div class="col-md-8"><strong>{% translate 'Position No.: ' %}</strong> {{ doc.pos_number | safe }} <br><strong>{% translate 'Reference No. :' %}</strong> {{ doc.ref_number | safe }}</div>
            <div class="col-md-4 text-right">{% if language == 'fr' %}{{ doc.date_fr }}{% else %}{{ doc.date_en }}{% endif %}</div>
        </div>
        <div class="row">
            <div class="col-md-12"><strong>{% translate 'Organization: ' %}</strong>{% if language == 'fr' %}{{ doc.owner_org_fr | safe }}{% else %}{{ doc.owner_org_en | safe }}{% endif %}</div>
        </div>
    </div>
</div>
{% endif %}