{% extends "record.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load search_extras %}
{% get_current_language as LANGUAGE_CODE %}

{% block main-content-title %}
<h1 property="name" id="wb-cont">{% translate 'National Action Plan on Open Government Commitment' %}</h1>
{% endblock main-content-title %}


<div class="col-md-12">
    {% block main-content-search-items %}

        <section class="panel panel-info mrgn-tp-lg">
            <header class="panel-heading">
                <h2 class="panel-title">{{ docs.0.indicators }} - {% if language == 'fr' %}{{ docs.0.commitments_fr }}{% else %}{{ docs.0.commitments_en }}{% endif %}</h2>
            </header>
            <div class="panel-body">
                <dl>
                    <div class="row">
                        <dt><div class="col-sm-3"><strong>{% translate 'Commitment: ' %}</strong></div></dt>
                        <dd><div class="col-sm-9">{% if language == 'fr' %}{{ docs.0.commitments_fr }}{% else %}{{ docs.0.commitments_en }}{% endif %}</div></dd>
                    </div>
                    <div class="row brdr-tp">
                        <dt><div class="col-sm-3"><strong>{% translate 'Milestone: ' %}</strong></div></dt>
                        <dd><div class="col-sm-9">
                            {% if language == 'fr' %}{{ docs.0.milestones_fra }}{% else %}{{ docs.0.milestones_eng }}{% endif %}
                        </div></dd>
                    </div>
                    <div class="row brdr-tp">
                        <dt><div class="col-sm-3"><strong>{% translate 'Indicator: ' %}</strong></div></dt>
                        <dd><div class="col-sm-9">
                            {% if language == 'fr' %}{{ docs.0.indicators_fra }}{% else %}{{ docs.0.indicators_eng }}{% endif %}
                        </div></dd>
                    </div>
                    <div class="row brdr-tp">
                        <dt><div class="col-sm-3"><strong>{% translate 'Lead Organization: ' %}</strong></div></dt>
                        <dd><div class="col-sm-9">
                            {% if language == 'fr' %}{{ docs.0.owner_org_fr }}{% else %}{{ docs.0.owner_org_en }}{% endif %}
                        </div></dd>
                    </div>
                        <div class="row brdr-tp">
                            <dt><div class="col-sm-3"><strong>{% translate 'Due Date: ' %}</strong></div></dt>
                            <dd><div class="col-sm-5">
                            {% if language == 'fr' %}{{ docs.0.due_date_fr }}{% else %}{{ docs.0.due_date_en }}{% endif %}
                            </div>
                            <div class="cols-sm-4">
                                {% if doc.s4d == 'y' %}
                                    <span class="label label-info">{% trans 'Summit for Democracy' %}</span>
                                {% endif %}
                            </div></dd>
                        </div>
                </dl>
            </div>
        </section>
</div>
<div class="col-sm-12 mrgn-bttm"><h2>{% translate 'Updates' %}</h2></div>
<div class="col-sm-12 mrgn-tp-md">
    {% for doc in docs %}
         <div class="panel panel-default">
             <header class="panel-heading"><h5 class="panel-title">{{ doc.reporting_period }}</h5></header>
             <div class="panel-body">
               <div class="col-sm-12">
                 <strong>{% translate 'Status: ' %}</strong> {% if language == 'fr' %}{{ doc.status_fr }}{% else %}{{ doc.status_en }}{% endif %}
               </div>
               {% if doc.progress_en != '-' and doc.progress_fr != '-' %}
               <div class="col-sm-12">
                <strong>{% translate 'Progress: ' %}</strong>
                <div>
                    {% if language == 'fr' %}{{ doc.progress_fr | markdown_filter | normalize_headings | safe }}
                    {% else %}
                    {{ doc.progress_en | markdown_filter | normalize_headings | safe}}{% endif %}
                </div>
                </div>
               {% endif %}
               {% if doc.evidence_en != '-' and doc.evidence_fr != '-' %}
               <div class="col-sm-12">
                <strong>{% trans 'Evidence of progress: ' %}</strong>
                <div>
                    {% if language == 'fr' %}{{ doc.evidence_fr | markdown_filter | normalize_headings | safe }}
                    {% else %}
                    {{ doc.evidence_en | markdown_filter | normalize_headings | safe}}{% endif %}
                </div>
                </div>
               {% endif %}
               {% if doc.challenges_en != '-' and doc.challenges_fr != '-' %}
               <div class="col-sm-12">
                <strong>{% trans 'Challenges: ' %}</strong>
                <div>
                    {% if language == 'fr' %}{{ doc.challenges_fr | markdown_filter | normalize_headings | safe }}
                    {% else %}
                    {{ doc.challenges_en | markdown_filter | normalize_headings | safe}}{% endif %}
                </div>
                </div>
               {% endif %}
             </div>
         </div>
    {% endfor %}
    {% endblock main-content-search-items %}
</div>


